---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Laurel Bay residents!</h1>
			<p>
				Welcome to the official <a/>Laurel Bay HOA of Hillsborough</a> website. This
				website serves as a place for Laurel Bay residents to receive important updates, information,
				and resources for our community.
			</p>
			<p>
				Please visit our other pages above. For any questions, email jad@laurelbayhoa.org.
			</p>
		</main>
		<Footer />
	</body>
</html>
